.todo_list {
    margin-top: 40px;
   
   display: flex;
   justify-content: center;

}

.add_items {
    padding: 2px 5px 2px 5px;
    border: 1px solid rgb(1, 1, 83);
    background-color: rgb(1, 1, 83);
    color: white;
    width: 280px;
}

#btn_add {
    background-color: rgba(0, 128, 53, 0.24);
    border: 1px solid rgba(0, 128, 53, 0.24);
    padding: 2px 8px 2px 8px;
}

.form_add {
    display: flex;
}

.items {
    padding: 2px 4px 2px 4px;
    border: 1px solid rgba(128, 128, 128, 0.233);
}